html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITY CLASSES */

.remove-list-style {
  list-style: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

/* MEDIA QUERRIES */

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */